In [1]:
import pandas as pd

data = pd.read_csv('INAH_detallado_2019.csv', encoding = 'ISO-8859-1')
data.head()

,Estado,Clave SIINAH,Siglas,Centro de trabajo,Año,Mes,Tipo de visitantes,Número de visitas,Nacionalidad
0,Aguascalientes,2300100.0,M.- M.H,Museo Regional de Historia de Aguascalientes,2019,1,Estudiantes nivel básico,527,Nacional
1,Aguascalientes,2300100.0,M.- M.H,Museo Regional de Historia de Aguascalientes,2019,1,Entrada dominical,617,Nacional
2,Aguascalientes,2300100.0,M.- M.H,Museo Regional de Historia de Aguascalientes,2019,1,Boleto pagado,19,Extranjeros
3,Aguascalientes,2300100.0,M.- M.H,Museo Regional de Historia de Aguascalientes,2019,1,Estudiantes nivel superior,188,Nacional
4,Aguascalientes,2300100.0,M.- M.H,Museo Regional de Historia de Aguascalientes,2019,1,Boleto pagado,80,Nacional

In [13]:
filter_by_state_temp = data.groupby(['Estado', 'Mes', 'Año', 'Número de visitas']).mean()

filter_by_state_temp.head()

                         Clave SIINAH
Estado         Mes Año
Aguascalientes 1   2019     2300100.0
               2   2019     2300100.0
               3   2019     2300100.0
               4   2019     2300100.0
               5   2019     2300100.0

In [19]:
filter_by_state_type = data.groupby(['Estado', 'Tipo de visitantes']).mean()

filter_by_state_type.head()

                                         Clave SIINAH     Año  Mes
Estado         Tipo de visitantes
Aguascalientes Boleto pagado                2300100.0  2019.0  6.5
               Discapacitados               2300100.0  2019.0  6.5
               Entrada dominical            2300100.0  2019.0  6.5
               Entrada sin costo            2300100.0  2019.0  6.5
               Estudiantes nivel básico     2300100.0  2019.0  6.5