2. Limpiar los datos, estructurarlos usando python y pandas. Únicamente, utilizaremos: Estado, Clave SIINAH, Centro de trabajo, Año, Mes, Tipo de visitantes, Número de visitas y Nacionalidad.

**Mostrarlos como dataframe en Tabla con los datos mencionados arriba**

3. Calculen los parámetros estadísticos:

- Totales por Estado por temporalidad (Mes y Año)
- Totales por Estado por tipo de visitante
- Totales por Estado por tipo de visitante y temporalidad (Mes y Año)
- Totales por Centro de trabajo y temporalidad (Mes y año)
- Totales por Centro de trabajo por tipo de visitante (Año)
- Promedio de visitantes totales por estado (Mes y Año)
- Promedio de visitantes por tipo de visitante, por estado (Mes y Año)
- Porcentaje de visitantes por Recinto en visitantes por estado (total por mes).
- Porcentaje de tipo de visitantes por mes y año
- Porcentaje de tipo de visitantes por recinto (Mes y Año)

4. Graficar los parámetros estadísticos con Plotly. Deben tener textos descriptivos, títulos, nombres de ejes, etc.

In [1]:
import pandas as pd
from IPython.display import display

In [2]:
df = pd.read_csv('./INAH_detallado_2019.csv')
df.drop(columns='Siglas', inplace=True)

df['Numero de visitas'] = df['Numero de visitas'].str.replace(',', '').astype(int)
columns = ['Clave SIINAH', 'Ano', 'Mes']
df[columns] = df[columns].astype('Int64').astype('object')



display(df.sample(2))
display(df.info())

,Estado,Clave SIINAH,Centro de trabajo,Ano,Mes,Tipo de visitantes,Numero de visitas,Nacionalidad
10119,Durango,3110020,Z.A. de La Ferrer�a con museo de sitio,2019,8,Entrada sin costo,359,Nacional
42138,Zacatecas,2302000,Museo de Guadalupe,2019,3,Exposiciones temporales con costo adicional,0,Nacional

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42679 entries, 0 to 42678
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Estado              42679 non-null  object
 1   Clave SIINAH        42497 non-null  object
 2   Centro de trabajo   42679 non-null  object
 3   Ano                 42679 non-null  object
 4   Mes                 42679 non-null  object
 5   Tipo de visitantes  42679 non-null  object
 6   Numero de visitas   42679 non-null  int32
 7   Nacionalidad        42679 non-null  object
dtypes: int32(1), object(7)
memory usage: 2.4+ MB

None

In [3]:
display( df.isna().apply(pd.Series.value_counts) )

workcenters_without_keys = df['Centro de trabajo'][df['Clave SIINAH'].isna()].unique()

for workcenter in workcenters_without_keys:
    print(df['Clave SIINAH'][df['Centro de trabajo'].str.contains(workcenter)].unique())

df['Clave SIINAH'].fillna('0000000', inplace=True)
display( df.isna().apply(pd.Series.value_counts) )

,Estado,Clave SIINAH,Centro de trabajo,Ano,Mes,Tipo de visitantes,Numero de visitas,Nacionalidad
False,42679.0,42497,42679.0,42679.0,42679.0,42679.0,42679.0,42679.0
True,NaN,182,NaN,NaN,NaN,NaN,NaN,NaN

[<NA>]
[<NA>]
[<NA>]
[<NA>]

,Estado,Clave SIINAH,Centro de trabajo,Ano,Mes,Tipo de visitantes,Numero de visitas,Nacionalidad
False,42679,42679,42679,42679,42679,42679,42679,42679

In [4]:
# - Totales por Estado por temporalidad (Mes y Año)
group_state_date = ['Estado', 'Ano','Mes']
df.groupby(group_state_date).sum()

                         Numero de visitas
Estado         Ano  Mes
Aguascalientes 2019 1                 1776
                    2                 1978
                    3                 2287
                    4                 3777
                    5                 2469
...                                    ...
Zacatecas      2019 8                10407
                    9                22679
                    10                8873
                    11                9910
                    12                9084

[384 rows x 1 columns]

In [5]:
# - Totales por Estado por tipo de visitante
group_state_visit_type = ['Estado', 'Tipo de visitantes']
df.groupby(group_state_visit_type).sum()

                                                            Numero de visitas
Estado         Tipo de visitantes
Aguascalientes Boleto pagado                                             1832
               Discapacitados                                              57
               Entrada dominical                                        10359
               Entrada sin costo                                         4359
               Estudiantes nivel b�sico                                  7570
...                                                                       ...
Zacatecas      Estudiantes nivel superior                               14682
               Exposiciones temporales con costo adicional                  0
               Profesores                                                5841
               Tercera edad, pensionados y jubilados                     8965
               Trabajadores INAH                                            6

[320 rows x 1 columns]

In [6]:
# - Totales por Estado por tipo de visitante y temporalidad (Mes y Año)
group_state_date_visit_type = group_state_date + ['Tipo de visitantes']
df.groupby(group_state_date_visit_type).sum()

                                                                     Numero de visitas
Estado         Ano  Mes Tipo de visitantes
Aguascalientes 2019 1   Boleto pagado                                               99
                        Discapacitados                                               3
                        Entrada dominical                                          617
                        Entrada sin costo                                          167
                        Estudiantes nivel b�sico                                   527
...                                                                                ...
Zacatecas      2019 12  Estudiantes nivel superior                                 874
                        Exposiciones temporales con costo adicional                  0
                        Profesores                                                 386
                        Tercera edad, pensionados y jubilados                      536
                        Trabajadores INAH                                            0

[3840 rows x 1 columns]

In [7]:
# - Totales por Centro de trabajo y temporalidad (Mes y año)
group_workcenter_date = ['Centro de trabajo', 'Ano', 'Mes']
df.groupby(group_workcenter_date).sum()

                                         Numero de visitas
Centro de trabajo              Ano  Mes
Capilla Abierta de Tlalmanalco 2019 1                 1172
                                    2                 1382
                                    3                 1298
                                    4                 1268
                                    5                  614
...                                                    ...
Z.A. de Zaachila               2019 8                  371
                                    9                  182
                                    10                 267
                                    11                 303
                                    12                 569

[3283 rows x 1 columns]

In [8]:
# - Totales por Centro de trabajo por tipo de visitante (Año)
group_workcenter_date_visit_type = group_workcenter_date + ['Tipo de visitantes']
group_workcenter_date_visit_type.remove('Mes')
df.groupby(group_workcenter_date_visit_type).sum()

                                                                                 Numero de visitas
Centro de trabajo              Ano  Tipo de visitantes
Capilla Abierta de Tlalmanalco 2019 Boleto pagado                                               89
                                    Discapacitados                                              75
                                    Entrada dominical                                         4606
                                    Entrada sin costo                                         6962
                                    Estudiantes nivel b�sico                                   633
...                                                                                            ...
Z.A. de Zaachila               2019 Estudiantes nivel superior                                 294
                                    Exposiciones temporales con costo adicional                  0
                                    Profesores                                                 182
                                    Tercera edad, pensionados y jubilados                      161
                                    Trabajadores INAH                                           36

[2770 rows x 1 columns]

In [9]:
# - Promedio de visitantes totales por estado (Mes y Año)
df.groupby(group_state_date).mean().round().astype(int)

                         Numero de visitas
Estado         Ano  Mes
Aguascalientes 2019 1                  137
                    2                  152
                    3                  176
                    4                  291
                    5                  190
...                                    ...
Zacatecas      2019 8                  267
                    9                  349
                    10                 137
                    11                 152
                    12                 140

[384 rows x 1 columns]

In [10]:
# - Promedio de visitantes por tipo de visitante, por estado (Mes y Año)
df.groupby(group_state_date_visit_type).mean().round().astype(int)

                                                                     Numero de visitas
Estado         Ano  Mes Tipo de visitantes
Aguascalientes 2019 1   Boleto pagado                                               50
                        Discapacitados                                               3
                        Entrada dominical                                          617
                        Entrada sin costo                                           84
                        Estudiantes nivel b�sico                                   527
...                                                                                ...
Zacatecas      2019 12  Estudiantes nivel superior                                 175
                        Exposiciones temporales con costo adicional                  0
                        Profesores                                                  77
                        Tercera edad, pensionados y jubilados                      107
                        Trabajadores INAH                                            0

[3840 rows x 1 columns]

In [18]:
# - Porcentaje de visitantes por Recinto en visitantes por estado (total por mes).
group_base = ['Estado', 'Mes']
workcenters_visits_by_month = df.groupby(group_base + ['Centro de trabajo']).sum()
display(workcenters_visits_by_month)

visits_by_state = df.groupby(group_base).sum()
display(visits_by_state)

workcenter_vs_total_state_date = workcenters_visits_by_month.join(visits_by_state, on=group_base, rsuffix='_total')
display(workcenter_vs_total_state_date)

workcenter_vs_total_state_date['percentage'] = workcenter_vs_total_state_date['Numero de visitas']*100 / workcenter_vs_total_state_date['Numero de visitas_total']
display(workcenter_vs_total_state_date)

                                                                       Numero de visitas
Estado         Mes Centro de trabajo
Aguascalientes 1   Museo Regional de Historia de Aguascalientes                     1776
               2   Museo Regional de Historia de Aguascalientes                     1978
               3   Museo Regional de Historia de Aguascalientes                     2287
               4   Museo Regional de Historia de Aguascalientes                     3777
               5   Museo Regional de Historia de Aguascalientes                     2469
...                                                                                  ...
Zacatecas      12  Museo de Guadalupe                                               3081
                   Z.A. Cerro de las Ventanas                                        827
                   Z.A. Cerro del Te�l                                               940
                   Z.A. de Altavista o Chalchihuites con museo de ...                418
                   Z.A. de La Quemada con museo de sitio                            3818

[3283 rows x 1 columns]

                    Numero de visitas
Estado         Mes
Aguascalientes 1                 1776
               2                 1978
               3                 2287
               4                 3777
               5                 2469
...                               ...
Zacatecas      8                10407
               9                22679
               10                8873
               11                9910
               12                9084

[384 rows x 1 columns]

                                                                       Numero de visitas  \
Estado         Mes Centro de trabajo
Aguascalientes 1   Museo Regional de Historia de Aguascalientes                     1776
               2   Museo Regional de Historia de Aguascalientes                     1978
               3   Museo Regional de Historia de Aguascalientes                     2287
               4   Museo Regional de Historia de Aguascalientes                     3777
               5   Museo Regional de Historia de Aguascalientes                     2469
...                                                                                  ...
Zacatecas      12  Museo de Guadalupe                                               3081
                   Z.A. Cerro de las Ventanas                                        827
                   Z.A. Cerro del Te�l                                               940
                   Z.A. de Altavista o Chalchihuites con museo de ...                418
                   Z.A. de La Quemada con museo de sitio                            3818

                                                                       Numero de visitas_total
Estado         Mes Centro de trabajo
Aguascalientes 1   Museo Regional de Historia de Aguascalientes                           1776
               2   Museo Regional de Historia de Aguascalientes                           1978
               3   Museo Regional de Historia de Aguascalientes                           2287
               4   Museo Regional de Historia de Aguascalientes                           3777
               5   Museo Regional de Historia de Aguascalientes                           2469
...                                                                                        ...
Zacatecas      12  Museo de Guadalupe                                                     9084
                   Z.A. Cerro de las Ventanas                                             9084
                   Z.A. Cerro del Te�l                                                    9084
                   Z.A. de Altavista o Chalchihuites con museo de ...                     9084
                   Z.A. de La Quemada con museo de sitio                                  9084

[3283 rows x 2 columns]

                                                                       Numero de visitas  \
Estado         Mes Centro de trabajo
Aguascalientes 1   Museo Regional de Historia de Aguascalientes                     1776
               2   Museo Regional de Historia de Aguascalientes                     1978
               3   Museo Regional de Historia de Aguascalientes                     2287
               4   Museo Regional de Historia de Aguascalientes                     3777
               5   Museo Regional de Historia de Aguascalientes                     2469
...                                                                                  ...
Zacatecas      12  Museo de Guadalupe                                               3081
                   Z.A. Cerro de las Ventanas                                        827
                   Z.A. Cerro del Te�l                                               940
                   Z.A. de Altavista o Chalchihuites con museo de ...                418
                   Z.A. de La Quemada con museo de sitio                            3818

                                                                       Numero de visitas_total  \
Estado         Mes Centro de trabajo
Aguascalientes 1   Museo Regional de Historia de Aguascalientes                           1776
               2   Museo Regional de Historia de Aguascalientes                           1978
               3   Museo Regional de Historia de Aguascalientes                           2287
               4   Museo Regional de Historia de Aguascalientes                           3777
               5   Museo Regional de Historia de Aguascalientes                           2469
...                                                                                        ...
Zacatecas      12  Museo de Guadalupe                                                     9084
                   Z.A. Cerro de las Ventanas                                             9084
                   Z.A. Cerro del Te�l                                                    9084
                   Z.A. de Altavista o Chalchihuites con museo de ...                     9084
                   Z.A. de La Quemada con museo de sitio                                  9084

                                                                       percentage
Estado         Mes Centro de trabajo
Aguascalientes 1   Museo Regional de Historia de Aguascalientes        100.000000
               2   Museo Regional de Historia de Aguascalientes        100.000000
               3   Museo Regional de Historia de Aguascalientes        100.000000
               4   Museo Regional de Historia de Aguascalientes        100.000000
               5   Museo Regional de Historia de Aguascalientes        100.000000
...                                                                           ...
Zacatecas      12  Museo de Guadalupe                                   33.916777
                   Z.A. Cerro de las Ventanas                            9.103919
                   Z.A. Cerro del Te�l                                  10.347864
                   Z.A. de Altavista o Chalchihuites con museo de ...    4.601497
                   Z.A. de La Quemada con museo de sitio                42.029943

[3283 rows x 3 columns]

In [22]:
# - Porcentaje de tipo de visitantes por mes y año
group_base = ['Ano', 'Mes']

visits_type_by_date = df.groupby(group_base + ['Tipo de visitantes']).sum()
display(visits_type_by_date)

visits_by_date = df.groupby(group_base).sum()
display(visits_by_date)

visits_type_vs_visit_date = visits_type_by_date.join(visits_by_date, on=group_base, rsuffix='_total')
display(visits_type_vs_visit_date)

visits_type_vs_visit_date['percetage'] = visits_type_vs_visit_date['Numero de visitas']*100 / visits_type_vs_visit_date['Numero de visitas_total']
display(visits_type_vs_visit_date)

                                                      Numero de visitas
Ano  Mes Tipo de visitantes
2019 1   Boleto pagado                                          1076841
         Discapacitados                                            2621
         Entrada dominical                                       760989
         Entrada sin costo                                       139765
         Estudiantes nivel b�sico                                256738
...                                                                 ...
     12  Estudiantes nivel superior                              176908
         Exposiciones temporales con costo adicional                  0
         Profesores                                               71307
         Tercera edad, pensionados y jubilados                    94136
         Trabajadores INAH                                         2140

[120 rows x 1 columns]

          Numero de visitas
Ano  Mes
2019 1              2648084
     2              2159893
     3              2504270
     4              3090515
     5              1796285
     6              1751261
     7              2470222
     8              2155550
     9              1878389
     10             2190094
     11             2459188
     12             2352831

                                                      Numero de visitas  \
Ano  Mes Tipo de visitantes
2019 1   Boleto pagado                                          1076841
         Discapacitados                                            2621
         Entrada dominical                                       760989
         Entrada sin costo                                       139765
         Estudiantes nivel b�sico                                256738
...                                                                 ...
     12  Estudiantes nivel superior                              176908
         Exposiciones temporales con costo adicional                  0
         Profesores                                               71307
         Tercera edad, pensionados y jubilados                    94136
         Trabajadores INAH                                         2140

                                                      Numero de visitas_total
Ano  Mes Tipo de visitantes
2019 1   Boleto pagado                                                2648084
         Discapacitados                                               2648084
         Entrada dominical                                            2648084
         Entrada sin costo                                            2648084
         Estudiantes nivel b�sico                                     2648084
...                                                                       ...
     12  Estudiantes nivel superior                                   2352831
         Exposiciones temporales con costo adicional                  2352831
         Profesores                                                   2352831
         Tercera edad, pensionados y jubilados                        2352831
         Trabajadores INAH                                            2352831

[120 rows x 2 columns]

                                                      Numero de visitas  \
Ano  Mes Tipo de visitantes
2019 1   Boleto pagado                                          1076841
         Discapacitados                                            2621
         Entrada dominical                                       760989
         Entrada sin costo                                       139765
         Estudiantes nivel b�sico                                256738
...                                                                 ...
     12  Estudiantes nivel superior                              176908
         Exposiciones temporales con costo adicional                  0
         Profesores                                               71307
         Tercera edad, pensionados y jubilados                    94136
         Trabajadores INAH                                         2140

                                                      Numero de visitas_total  \
Ano  Mes Tipo de visitantes
2019 1   Boleto pagado                                                2648084
         Discapacitados                                               2648084
         Entrada dominical                                            2648084
         Entrada sin costo                                            2648084
         Estudiantes nivel b�sico                                     2648084
...                                                                       ...
     12  Estudiantes nivel superior                                   2352831
         Exposiciones temporales con costo adicional                  2352831
         Profesores                                                   2352831
         Tercera edad, pensionados y jubilados                        2352831
         Trabajadores INAH                                            2352831

                                                      percetage
Ano  Mes Tipo de visitantes
2019 1   Boleto pagado                                40.664911
         Discapacitados                                0.098977
         Entrada dominical                            28.737344
         Entrada sin costo                             5.277967
         Estudiantes nivel b�sico                      9.695236
...                                                         ...
     12  Estudiantes nivel superior                    7.518942
         Exposiciones temporales con costo adicional   0.000000
         Profesores                                    3.030689
         Tercera edad, pensionados y jubilados         4.000967
         Trabajadores INAH                             0.090954

[120 rows x 3 columns]

In [27]:
# - Porcentaje de tipo de visitantes por recinto (Mes y Año)

group_base = ['Centro de trabajo', 'Ano', 'Mes']

workcenter_by_date_and_visit_type = df.groupby(group_base + ['Tipo de visitantes']).sum()
display(workcenter_by_date_and_visit_type)

workcenter_by_date = df.groupby(group_base).sum()
display(workcenter_by_date)

workcenter_visit_type_vs_workcenter_by_date = workcenter_by_date_and_visit_type.join(workcenter_by_date, on=group_base, rsuffix='_total')
display(workcenter_visit_type_vs_workcenter_by_date)

workcenter_visit_type_vs_workcenter_by_date['percentage'] = workcenter_visit_type_vs_workcenter_by_date['Numero de visitas']*100 / workcenter_visit_type_vs_workcenter_by_date['Numero de visitas_total']
display(workcenter_visit_type_vs_workcenter_by_date)

                                                                                     Numero de visitas
Centro de trabajo              Ano  Mes Tipo de visitantes
Capilla Abierta de Tlalmanalco 2019 1   Boleto pagado                                               12
                                        Discapacitados                                               4
                                        Entrada dominical                                          322
                                        Entrada sin costo                                          580
                                        Estudiantes nivel b�sico                                    48
...                                                                                                ...
Z.A. de Zaachila               2019 12  Estudiantes nivel superior                                  23
                                        Exposiciones temporales con costo adicional                  0
                                        Profesores                                                   8
                                        Tercera edad, pensionados y jubilados                       19
                                        Trabajadores INAH                                           13

[32830 rows x 1 columns]

                                         Numero de visitas
Centro de trabajo              Ano  Mes
Capilla Abierta de Tlalmanalco 2019 1                 1172
                                    2                 1382
                                    3                 1298
                                    4                 1268
                                    5                  614
...                                                    ...
Z.A. de Zaachila               2019 8                  371
                                    9                  182
                                    10                 267
                                    11                 303
                                    12                 569

[3283 rows x 1 columns]

                                                                                     Numero de visitas  \
Centro de trabajo              Ano  Mes Tipo de visitantes
Capilla Abierta de Tlalmanalco 2019 1   Boleto pagado                                               12
                                        Discapacitados                                               4
                                        Entrada dominical                                          322
                                        Entrada sin costo                                          580
                                        Estudiantes nivel b�sico                                    48
...                                                                                                ...
Z.A. de Zaachila               2019 12  Estudiantes nivel superior                                  23
                                        Exposiciones temporales con costo adicional                  0
                                        Profesores                                                   8
                                        Tercera edad, pensionados y jubilados                       19
                                        Trabajadores INAH                                           13

                                                                                     Numero de visitas_total
Centro de trabajo              Ano  Mes Tipo de visitantes
Capilla Abierta de Tlalmanalco 2019 1   Boleto pagado                                                   1172
                                        Discapacitados                                                  1172
                                        Entrada dominical                                               1172
                                        Entrada sin costo                                               1172
                                        Estudiantes nivel b�sico                                        1172
...                                                                                                      ...
Z.A. de Zaachila               2019 12  Estudiantes nivel superior                                       569
                                        Exposiciones temporales con costo adicional                      569
                                        Profesores                                                       569
                                        Tercera edad, pensionados y jubilados                            569
                                        Trabajadores INAH                                                569

[32830 rows x 2 columns]

                                                                                     Numero de visitas  \
Centro de trabajo              Ano  Mes Tipo de visitantes
Capilla Abierta de Tlalmanalco 2019 1   Boleto pagado                                               12
                                        Discapacitados                                               4
                                        Entrada dominical                                          322
                                        Entrada sin costo                                          580
                                        Estudiantes nivel b�sico                                    48
...                                                                                                ...
Z.A. de Zaachila               2019 12  Estudiantes nivel superior                                  23
                                        Exposiciones temporales con costo adicional                  0
                                        Profesores                                                   8
                                        Tercera edad, pensionados y jubilados                       19
                                        Trabajadores INAH                                           13

                                                                                     Numero de visitas_total  \
Centro de trabajo              Ano  Mes Tipo de visitantes
Capilla Abierta de Tlalmanalco 2019 1   Boleto pagado                                                   1172
                                        Discapacitados                                                  1172
                                        Entrada dominical                                               1172
                                        Entrada sin costo                                               1172
                                        Estudiantes nivel b�sico                                        1172
...                                                                                                      ...
Z.A. de Zaachila               2019 12  Estudiantes nivel superior                                       569
                                        Exposiciones temporales con costo adicional                      569
                                        Profesores                                                       569
                                        Tercera edad, pensionados y jubilados                            569
                                        Trabajadores INAH                                                569

                                                                                     percentage
Centro de trabajo              Ano  Mes Tipo de visitantes
Capilla Abierta de Tlalmanalco 2019 1   Boleto pagado                                  1.023891
                                        Discapacitados                                 0.341297
                                        Entrada dominical                             27.474403
                                        Entrada sin costo                             49.488055
                                        Estudiantes nivel b�sico                       4.095563
...                                                                                         ...
Z.A. de Zaachila               2019 12  Estudiantes nivel superior                     4.042179
                                        Exposiciones temporales con costo adicional    0.000000
                                        Profesores                                     1.405975
                                        Tercera edad, pensionados y jubilados          3.339192
                                        Trabajadores INAH                              2.284710

[32830 rows x 3 columns]